.content {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #f6f7f8;
  max-width: 977.5px;
  width: 100%;
  padding: 206px 80px 0 328px;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  max-height: 1000px;
}

.addTaskAlignment {
  display: flex;
  padding-top: 50px;
}

#addTaskSlider .addTaskAlignment {
  display: flex;
  padding-top: 50px;
}

#addTaskSlider form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#addTaskSlider h1 {
  align-self: flex-start;
  margin-left: 0;
}

#addTaskSlider {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 12px 0;
  position: fixed;
  bottom: 0;
  width: 980px;
  max-width: 977.5px;
  background-color: transparent;
  margin-bottom: 80px;
}

.h1-wrapper {
  display: flex;
  align-items: flex-start;
  width: 970px;
  margin-top: 80px;
}

.addTaskInfos {
  display: flex;
  flex-direction: column;
  width: 440px;
  gap: 8px;
  color: #2a3647;
}

.requiredStar {
  color: #ff8190;
}

label {
  color: #2a3647;
}

input {
  margin-bottom: 13px;
  padding: 12px 21px;
  width: 396px;
  height: 22px;
  font-weight: 400;
  background-size: 18px 20px;
  background-position: 400px;
  z-index: 2;
}

textarea {
  margin-bottom: 13px;
  padding: 18px 16px;
  width: 406px;
  height: 82px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

#addTaskDate {
  font-family: "Inter", sans-serif;
  color: black;
}

.line {
  height: 424px;
  background-color: #d1d1d1;
  width: 1px;
  margin: 0 48.25px;
}

.addTaskbuttonAlignment {
  display: flex;
  justify-content: space-between;
}

.addTaskButtonPriority {
  border-radius: 10px;
  height: 56px;
  width: 136px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: white;
  border: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 13px;
  color: black;
}

.addTaskButtonPriority:hover {
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  color: inherit;
  background-color: white;
}

#addTaskContacts {
  z-index: 7;
}

#addTaskCategory {
  z-index: 4;
}

#addTaskContacts,
#addTaskCategory {
  background-image: url("../assets/icons/arrow_drop_down.svg");
  background-size: 7.21px;
  background-position: 414px;
  cursor: pointer;
}

#addTaskContacts.open,
#addTaskCategory.open {
  background-image: url("../assets/icons/arrow_drop_down_open.svg");
}

#addTaskContacts::placeholder,
#addTaskCategory::placeholder {
  color: black;
}

#addTaskContacts:hover,
#addTaskCategory:hover {
  border-color: #a8a8a8;
}

.addTaskDropDown {
  width: 437px;
  background-color: white;
  max-height: calc(336px - 80px);
  overflow-y: auto;
  margin: 0 1px;
}

.addTaskDropDownShadow {
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 438px;
  margin: -30px 1px 10px;
  background-color: #ffffff;
  padding: 8px 0;
  max-height: 336px;
  z-index: 6;
  position: absolute;
  top: 540px;
}

.addTaskDropDown label {
  display: flex;
  align-items: center;
  align-content: center;
  height: 56px;
  width: calc(100% - 16px - 16px);
  padding: 0 16px;
  border-radius: 10px;
}

.addTaskDropDown label:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

#contactChecked {
  background: url("../assets/icons/checkbox-empty.svg") right no-repeat;
  width: 390px;
  display: flex;
  align-items: center;
  color: black;
}

label.contactSelected {
  background: #2a3647;
  border: 1px solid white;
  width: calc(100% - 17px - 17px);
  height: 54px;
}

label.contactSelected:hover {
  background: #091931;
}

.contactSelected #contactChecked {
  color: white;
  background: #2a3647 url("../assets/icons/checkbox-checked-gray.svg") right
    no-repeat;
}

label.contactSelected:hover #contactChecked {
  background: #091931 url("../assets/icons/checkbox-checked-darkgray.svg") right
    no-repeat;
}

.contactsSelectedAlignment {
  display: flex;
  margin: -13px 0 13px 0;
  gap: 8px;
}

#addTaskContaktsSelected .circle {
  margin-right: 0;
}

#addTaskCategoryDropDown label {
  color: black;
}

.subtask-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

#addTaskSubtasks {
  background-image: url("../assets/icons/add.svg");
  background-size: 24px;
}

.addTaskSubtaskLine {
  height: 24px;
  background-color: #d1d1d1;
  padding: 0 0.5px;
}

.addTaskSubtaskConfirm {
  display: flex;
  align-items: center;
  position: absolute;
  right: 47px;
  top: 21%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 2;
}

.addTaskSubtaskIconBackgroundColor {
  background-color: white;
}

.editIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.editIconsAlignment {
  display: none;
}

.editIconsAlignmentVisible {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #29abe2;
  height: 30px;
  padding-right: 16px;
}

#addTaskSubtaskList {
  margin: -13px 0px 13px 0px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  padding-left: 0;
  max-height: 100px;
  overflow-y: auto;
}

.addTaskSubtaskItem {
  padding: 6px 16px;
  height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

li.addTaskSubtaskItem:hover .editIconsAlignment {
  display: flex;
  align-items: center;
}

li.addTaskSubtaskItem:hover {
  background-color: #eeeeee;
  border-radius: 10px;
}

.subtaskEdit {
  width: 408px;
  height: 22px;
  padding: 4px 16px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #29abe2;
  margin: 0;
}

.subtaskEdit:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid #29abe2;
}

.subtaskEditWrapper {
  display: flex;
  align-items: center;
}

.addTaskConfirmAlignment {
  display: flex;
  gap: 16px;
  z-index: 2000;
  padding-top: 20px;
  padding-bottom: 15px;
  align-self: end;
}

.addTaskButtonClear {
  border-radius: 10px;
  border: 1px solid #2a3647;
  height: 56px;
  width: 110px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #2a3647;
  padding: 16px;
  background: #f6f7f8 url("../assets/icons/iconoir_cancel.svg") no-repeat right
    15px center;
  background-size: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.addTaskButtonClear:hover {
  border: 2px solid #29abe2;
  color: #29abe2;
  padding-left: 15px;
  background: #f6f7f8 url("../assets/icons/iconoir_cancel_hover.svg") no-repeat
    right 14px center;
  background-size: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0s;
}

.addTaskButtonCreateTask {
  height: 56px;
  width: 183px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 700;
  padding: 16px;
  background: #2a3647 url("../assets/icons/check.svg") no-repeat right 16px
    center;
  background-size: 24px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.addTaskButtonCreateTask:hover {
  background: #29abe2 url("../assets/icons/check.svg") no-repeat right 16px
    center;
  background-size: 24px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.errorTextAddTask {
  color: #ff8190;
  font-size: 12px;
  font-weight: 400;
  height: 12px;
  width: 440px;
  font-family: "Poppins", sans-serif;
}

.errorTextAddTaskAlignmentTitle {
  text-align: left;
  position: absolute;
  top: 412px;
}

.errorTextAddTaskAlignmentDate {
  text-align: left;
  position: absolute;
  top: 685px;
}

.errorTextAddTaskAlignmentCategory {
  text-align: left;
  position: absolute;
  top: 620px;
}

.urgent {
  background-color: #ff3d00;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

.urgent:hover {
  background-color: #ff3d00;
  color: #ffffff;
}

.medium {
  background-color: #ffa800;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

.medium:hover {
  background-color: #ffa800;
  color: #ffffff;
}

.low {
  background-color: #7ae229;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

.low:hover {
  background-color: #7ae229;
  color: #ffffff;
}

.addTaskSuccessful {
  position: fixed;
  left: calc(100vh - 163px);
  top: calc(50vh - 37px);
  height: 74px;
  width: 326px;
  background-color: #2a3647;
  z-index: 3;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.requiredMobileView {
  display: none;
}

.position {
  top: 640px;
  z-index: 3;
}

@media (max-width: 1400px) {
  .addTaskAlignment {
    flex-direction: column;
  }

  .line {
    display: none;
  }

  .requiredMobile {
    display: none;
  }

  .content {
    width: auto;
  }

  .requiredMobileView {
    display: block;
  }

  .errorTextAddTaskAlignmentCategory {
    top: 987px;
  }

  .errorTextAddTaskAlignmentDate {
    top: 682px;
  }

  .addTaskSuccessful {
    left: calc(50% - 163px);
  }

  .position {
    top: 1000px !important;
  }

  .addTaskDropDownShadow {
    top: 908px;
  }
}

@media (max-width: 840px) {
  .content {
    padding: 80px 0 64px 0;
    width: 396px;
    margin: 0 auto;
  }

  h1 {
    font-size: 47px;
    height: 112px;
    display: flex;
    align-items: end;
  }

  .addTaskAlignment {
    padding-top: 20px;
    width: 396px;
  }

  label {
    font-size: 16px;
  }

  input {
    font-size: 16px;
    width: 352px;
    padding: 10px 21px;
    height: 18px;
    margin-bottom: 16px;
    background-position: 355px;
  }

  .addTaskInfos {
    gap: 16px;
    width: 396px;
    font-size: 16px;
  }

  textarea {
    width: 352px;
    height: 88px;
    margin-bottom: 16px;
    padding: 18px 21px;
    font-size: 16px;
    font-weight: 400px;
  }

  #addTaskDescription {
    height: 50px;
  }

  .addTaskButtonPriority {
    font-size: 16px;
    width: 121.33px;
    height: 41px;
  }

  .addTaskDropDownShadow {
    width: 394px;
    margin: -36px 1px 10px;
  }

  .addTaskDropDown {
    width: 393px;
  }

  #addTaskContacts,
  #addTaskCategory {
    background-position: 368px;
  }

  .addTaskFurtherInfosHeight {
    height: auto;
  }

  .requiredMobileView {
    font-size: 16px;
  }

  .errorTextAddTaskAlignmentCategory {
    top: 808px;
  }

  .errorTextAddTaskAlignmentDate {
    top: 502px;
  }

  .errorTextAddTaskAlignmentTitle {
    top: 240px;
  }

  .errorTextAddTask {
    width: 396px;
  }

  .addTaskConfirmAlignment {
    padding-bottom: 25px;
  }

  .position {
    top: 830px !important;
  }

  .addTaskDropDownShadow {
    top: 725px;
  }
}

@media (max-width: 440px) {
  .content {
    width: calc(100% - 20px);
    padding: 80px 10px 64px 10px;
  }

  input,
  textarea,
  .requiredMobileView,
  label {
    width: 85%;
    background-position: 93%;
  }

  .addTaskbuttonAlignment {
    flex-direction: column;
    align-items: center;
  }

  .addTaskDropDownShadow {
    max-width: 388px;
    width: 96%;
    top: 318px;
  }

  .addTaskDropDown {
    width: auto;
  }

  #addTaskContacts,
  #addTaskCategory {
    background-position: 93%;
  }

  .addTaskInfos {
    width: 100%;
    position: relative;
  }

  .addTaskAlignment {
    width: 100%;
  }

  .addTaskConfirmAlignment {
    gap: 5px;
  }

  .errorTextAddTask {
    width: calc(100% - 20px);
  }

  .addTaskSuccessful {
    width: 300px;
    left: calc(50% - 150px);
  }

  .addTaskButtonCreateTask {
    width: 180px;
  }

  .addTaskConfirmAlignment {
    padding-bottom: 100px;
  }

  .position {
    top: 410px !important;
  }

  .errorTextAddTaskAlignmentCategory {
    top: 395px;
  }

  .errorTextAddTaskAlignmentDate {
    top: 337px;
  }

  .errorTextAddTaskAlignmentTitle {
    top: 75px;
  }
}

@media (max-width: 410px) {
  .addTaskDropDownShadow {
    width: 96%;
  }
}

@media (max-width: 390px) {
  .addTaskDropDownShadow {
    width: 97%;
  }
}

@media (max-width: 370px) {
  .addTaskDropDownShadow {
    width: 98%;
  }
}

@media (max-width: 350px) {
  .addTaskDropDownShadow {
    width: 99%;
  }
}

@media (max-width: 330px) {
  .addTaskDropDownShadow {
    width: 100%;
  }
}
