.addTaskAlignment {
  display: flex;
}

.addTaskInfos {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 376px;
  gap: 8px;
  justify-content: space-around;
}

.addTaskFurtherInfosHeight {
  height: 400px;
}

.requiredStar {
  color: #ff8190;
}

input {
  margin-bottom: 13px;
  padding: 12px 21px;
  width: 396px;
  height: 22px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  background-repeat: no-repeat;
  background-size: 18px 20px;
  position: relative;
  background-position: 400px;
}

input::placeholder {
  color: #d1d1d1;
}

input:focus {
  outline: none;
  border: 1px solid #29abe2;
}

textarea {
  margin-bottom: 13px;
  padding: 18px 16px;
  width: 406px;
  height: 82px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

textarea::placeholder {
  color: #d1d1d1;
  font-family: "Inter", sans-serif;
}

#addTaskDate {
  font-family: "Inter", sans-serif;
  color: #d1d1d1;;
}

textarea:focus {
  outline: none;
  border: 1px solid #29abe2;
}

.line {
  height: 424px;
  background-color: #d1d1d1;
  width: 1px;
  margin: 0 48.25px;
}

.addTaskbuttonAlignment {
  display: flex;
  justify-content: space-between;
}

.addTaskButtonPriority {
  border-radius: 10px;
  height: 56px;
  width: 136px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: white;
  border: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 13px;
}

.addTaskButtonPriority:hover {
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

select {
  margin-bottom: 13px;
  padding: 10px 16px;
  width: 440px;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../assets/icons/arrow_drop_down.svg") no-repeat right center;
  background-size: 7.21;
  background-color: white;
  background-position: 414px;
  position: relative;
}

select:hover {
  cursor: pointer;
}

select:focus {
  outline: none;
  border: 1px solid #29abe2;
}

#addTaskSubtasks {
  background-image: url("../assets/icons/add.svg");
}

.addTaskButtonRequiredAlignment {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 87px;
}

.addTaskConfirmAlignment {
  display: flex;
  gap: 16px;
}

.addTaskButtonClear {
  border-radius: 10px;
  border: 1px solid #2a3647;
  height: 56px;
  width: 110px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #2a3647;
  padding: 16px;
  background: #f6f7f8 url("../assets/icons/iconoir_cancel.svg") no-repeat right
    15px center;
  background-size: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.addTaskButtonClear:hover {
  border: 2px solid #29abe2;
  color: #29abe2;
  padding: 15px;
  background: #f6f7f8 url("../assets/icons/iconoir_cancel_hover.svg") no-repeat
    right 14px center;
  background-size: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.addTaskButtonCreateTask {
  height: 56px;
  width: 183px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  padding: 16px;
  background: #2a3647 url("../assets/icons/check.svg") no-repeat right 16px
    center;
  background-size: 24px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.addTaskButtonCreateTask:hover {
  border: 2px solid #29abe2;
  padding: 15px;
  background: #29abe2 url("../assets/icons/check.svg") no-repeat right 14px
    center;
  background-size: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.inputError {
  border: 1px solid #ff8190 !important;
}

.errorTextAddTask {
  color: #ff8190;
  font-size: 12px;
  font-weight: 400;
  height: 12px;
  width: 440px;
  font-family: "Poppins", sans-serif;
}

.errorTextAddTaskAlignmentTitle {
  text-align: left;
  position: absolute;
  top: 413px;
}

.errorTextAddTaskAlignmentDate {
  text-align: left;
  position: absolute;
  top: 693px;
}

.errorTextAddTaskAlignmentCategory {
  text-align: left;
  position: absolute;
  top: 617px;
}

.urgent {
  background-color: #FF3D00;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

.medium {
  background-color: #FFA800;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

.low {
  background-color: #7AE229;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}