.content {
  flex-direction: column;
  width: 100%;
  max-width: 1056px;
  margin: 0 auto;
  padding: 176px 80px 64px 296px;
  font-size: 20px;
  font-weight: 400;
}

.content-header {
  display: flex;
  flex-direction: column;
}

.content-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-header > div > div {
  display: flex;
  gap: 32px;
}

.content-header > div > div > input {
  background-image: url("../assets/icons/Frame 122.svg");
  background-size: 50px;
  width: 278px;
  background-position: 250px;
  padding: 8px 16px;
  height: 30px;
  cursor: pointer;
}

.content-header > div > div > input:focus {
  outline: none;
  border: 1px solid #29abe2;
}

.content-header-buttons {
  padding-top: 50px !important;
  color: #42526e;
  font-size: 20px;
  font-weight: 700;
}

.content-header-buttons > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 244px;
}

.boardButton {
  width: 160px;
  height: 48px;
  font-size: 21px;
  font-weight: 700;
  padding: 8px 10px 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.addTaskButtonContainer img {
  display: block;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.addTaskButtonContainer img.addTaskButtonHover {
  display: none;
}

.addTaskButtonContainer:hover img.addTaskButton {
  display: none;
}

.addTaskButtonContainer:hover img.addTaskButtonHover {
  display: block;
}

.content-body {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.content-body > div {
  padding-top: 10px;
}

.content-body > div > div > img {
  height: 64px;
  width: 252px;
  margin-top: unset;
  padding-left: unset;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 500px;
  border: #000;
}

.card {
  width: 252px;
  background-color: white;
  box-shadow: 0px 0px 10px 3px #00000014;
  border-radius: 24px;
}

.card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  cursor: pointer;
}

.card-header > p {
  padding-inline: 16px;
  padding-block: 4px;
  color: white;
  border-radius: 8px;
  width: 113px;
}

.blue {
  background-color: #0038ff;
  width: 80px;
}

.green {
  background-color: #1fd7c1;
  width: 115px;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-body > h3 {
  color: #2a3647;
  font-size: 16px;
  font-weight: 700;
}

.card-body > p {
  color: #a8a8a8;
  font-size: 16px;
}

.card-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  width: 128px;
  height: 8px;
  border-radius: 8px;
  color: #000;
  background-color: #f1f1f1;
}

.progress-bar-content {
  max-width: 128px;
  height: 8px;
  border-radius: 8px;
  background-color: #2196f3;
}

.card-progress > p {
  font-size: 12px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  height: 32px;
}

.profile {
  display: flex;
}

.profile > img {
  width: 32px;
  height: 32px;
  margin-top: unset;
  padding-left: unset;
}

.priority > img {
  width: 32px;
  height: 32px;
  margin-top: unset;
  padding-left: unset;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 45px;
  color: white;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin-left: -10px;
  z-index: 1;
  background-color: gray;
}
