.contactsList {
  width: 456px;
  height: calc(100vh - 96px - 22px);
  position: absolute;
  top: 96px;
  left: 232px;
  background-color: white;
  overflow: auto;
  box-shadow: 4px 0 6px rgba(0, 0, 0, 0.08);
  padding-bottom: 22px;
}

.contactsImage {
  width: 32px;
  height: 32px;
}

.contactsAddButtonAlignment {
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 56px;
  width: 352px;
}

.contactsAddButtonContainer {
  width: 100%;
  height: 101px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.contactEntryName {
  font-size: 20px;
}

.contactEntryMail {
  color: #007cee;
}

.contactEntry {
  height: 78px;
  width: 352px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contactEntry:hover {
  background: linear-gradient(to bottom, #f9f9f9, #f0f0f0);
  border-radius: 15px;
}

.contactEntrySelected {
  background: #2a3647;
  border-radius: 10px;
  color: white;
}
.contactEntrySelected:hover {
  background: #2a3647;
  border-radius: 10px;
  color: white;
}

.circleGap {
  margin: 0 35px 0 24px;
}

.contactEntryAlignment {
  height: 48px;
  align-content: center;
}

.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contactsLetterSeparator {
  width: 316px;
  height: 58px;
  padding-left: 36px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.contactsLetterSeparatorLine {
  width: 352px;
  height: 1px;
  background-color: #d1d1d1;
  margin: 8px 0;
}

.contactDetails {
  max-width: calc(977.5px - 456px);
  width: 100%;
  padding-left: 750px;
  padding-top: 176px;
  padding-bottom: 110px;
  padding-right: 55px;
}

.contactsAlignment {
  display: flex;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}

.contactHeader {
  display: flex;
  height: 73px;
  width: 569px;
  align-items: center;
  justify-content: space-between;
}

.blueLine {
  background-color: #29abe2;
  height: 59px;
  width: 3px;
}

.contactsSubtitle {
  color: #2a3647;
  font-size: 27px;
  font-weight: 400px;
}

.contactSelected {
  height: 364px;
  padding-top: 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.contactSelected.slide-in {
  transform: translateX(0);
  opacity: 1;
}

.contactSelectedMain {
  display: flex;
  height: 120px;
  font-size: 47px;
  font-weight: 500;
  align-items: center;
}

.circleDetails {
  height: 120px;
  width: 120px;
  margin-right: 54px;
  font-size: 47px;
}

.contactSelectedIcons {
  display: flex;
  font-size: 16px;
  width: 159px;
  justify-content: space-between;
}

.contactSelectedIcon {
  display: flex;
  align-items: center;
  justify-content: right;
}

.contactSelectedIcon:hover {
  color: #29abe2;
  cursor: pointer;
}

#edit {
  background: url(../assets/icons/edit.svg) no-repeat center left;
  width: 62px;
}

#edit:hover {
  background: url(../assets/icons/edit_hover.svg) no-repeat center left;
}

#delete {
  background: url(../assets/icons/delete.svg) no-repeat center left;
  width: 81px;
}

#delete:hover {
  background: url(../assets/icons/delete_hover.svg) no-repeat center left;
}

.contactsSelectedNameIcons {
  height: 88px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contactSelectedInformation {
  font-size: 20px;
  height: 74px;
  display: flex;
  align-items: center;
}

.bold {
  font-weight: 700;
}

.contactSelectedInfos {
  height: 128px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.contactSelectedInfosAlignment {
  height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  background-color: white;
  top: calc(50% - 297px);
  left: calc(50% - 600px);
  width: 1200px;
  height: 594px;
  border-radius: 16px;
  display: flex;
  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.overlayGrey {
  width: calc(467px - 48px - 48px);
  height: calc(100% - 66px - 66px);
  background-color: #2a3647;
  border-radius: 16px 0 0 16px;
  padding: 66px 48px;
  align-content: center;
}

.overlayGreyContent {
  height: 129px;
  width: 371px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.overlayGreyContentText {
  font-size: 27px;
}

.overlayGreyContentLine {
  width: 90px;
  height: 3px;
  background-color: #29abe2;
}

.overlayGreyLogo {
  position: absolute;
  top: 160px;
}

.overlayWhite {
  padding: 66px 48px;
  display: flex;
  align-items: center;
  width: calc(1200px - 371px);
  justify-content: right;
}

.overlayWhiteInput {
  height: calc(215px + 50px + 20px);
  width: 422px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlayWhiteInput input {
  padding: 13px 21px;
  width: calc(422px - 22px - 22px);
  height: calc(50px - 14px - 14px);
}

#addContactName {
  background: url(../assets/icons/person.svg) no-repeat;
  background-size: 24px;
  background-position: 379px;
}

#addContactMail {
  background: url(../assets/icons/mail.svg) no-repeat;
  background-size: 24px;
  background-position: 379px;
}

#addContactPhone {
  background: url(../assets/icons/phone.svg) no-repeat;
  background-size: 24px;
  background-position: 379px;
}

#editContactName {
  background: url(../assets/icons/person.svg) no-repeat;
  background-size: 24px;
  background-position: 379px;
}

#editContactMail {
  background: url(../assets/icons/mail.svg) no-repeat;
  background-size: 24px;
  background-position: 379px;
}

#editContactPhone {
  background: url(../assets/icons/phone.svg) no-repeat;
  background-size: 24px;
  background-position: 379px;
}

.overlayWhiteButtons {
  padding-top: 20px;
  display: flex;
  width: 364px;
  justify-content: space-between;
}

.overlayWhiteButtonsEdit {
  padding-top: 20px;
  display: flex;
  width: 249px;
  justify-content: space-between;
}

.bottonWhite {
  width: 126px;
  height: 56px;
  background-color: white;
  color: #2a3647;
  font-size: 20px;
  border: solid 1px #2a3647;
  display: flex;
  align-content: center;
  gap: 4px;
  padding: 16px;
  background: #f6f7f8 url("../assets/icons/iconoir_cancel.svg") no-repeat right
    15px center;
  justify-content: left;
  background-size: 25px;
}

.bottonWhite:hover {
  border: 2px solid #29abe2;
  color: #29abe2;
  padding-left: 15px;
  padding-bottom: 15px;
  background: #f6f7f8 url("../assets/icons/iconoir_cancel_hover.svg") no-repeat
    right 14px center;
  background-size: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0s;
}

.bottonWhiteDelete {
  width: 113px;
  height: 56px;
  background-color: white;
  color: #2a3647;
  font-size: 20px;
  border: solid 1px #2a3647;
  display: flex;
  align-content: center;
  gap: 4px;
  padding: 16px;
  justify-content: center;
  background-size: 25px;
}

.bottonWhiteDelete:hover {
  border: 2px solid #29abe2;
  color: #29abe2;
  padding-left: 15px;
  padding-bottom: 15px;
  background: #f6f7f8;
  background-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0s;
}

.bottomGrey {
  height: 56px;
  width: 214px;
  font-size: 21px;
  gap: 4px;
  display: flex;
  align-content: center;
  padding: 16px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-weight: 700px;
}

.bottomGreyDelete {
  height: 56px;
  width: 111px;
  font-size: 21px;
  gap: 4px;
  display: flex;
  align-content: center;
  padding: 16px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-weight: 700px;
}

.overlayClose {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 48px;
}

.overlayClose:hover {
  cursor: pointer;
  background-color: #eeeeee;
  border-radius: 50%;
}

.overlayWhitePicture {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 204px;
  left: 550px;
}

.contactAddSucessful {
  position: fixed;
  top: 75%;
  left: 50%;
  width: 326px;
  height: 74px;
  background-color: #2a3647;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, 0) translateX(150%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.contactAddSucessful.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, 0) translateX(0);
}

.circlePosition {
  position: absolute;
  top: 204px;
  left: 550px;
}

.overlayCloseMobile {
  display: none;
}

.blueLineMobile {
  display: none;
}

.vectorMobile {
  display: none;
}

.buttonMore {
  display: none;
}

.mobileEditDelete {
  display: none;
}

.errorTextNameAlignment {
  top: 205px;
}

.errorTextMailAlignment {
  top: 275px;
}

.errorTextPhoneAlignment {
  top: 345px;
}

@media (max-width: 1400px) {
  .contactsList {
    width: 100%;
    height: calc(100vh - 96px - 24px);
  }

  .contacts,
  .contactsAddButtonContainer {
    width: calc(100% - 232px);
    align-items: baseline;
    padding-left: 20px;
    padding-right: 20px;
  }

  .contactsLetterSeparatorLine {
    width: calc(100% - 20px - 20px);
  }

  .contactsAddButtonContainer {
    height: 24px;
  }

  .contactsAddButtonMobile {
    display: none;
  }

  .contactsAddButtonAlignment {
    height: 56px;
    width: 56px;
    border-radius: 46px;
    position: absolute;
    right: 50px;
    top: calc(100vh - 80px - 100px);
  }

  .overlay {
    flex-direction: column;
    width: 396px;
    height: 80vh;
    min-height: 600px;
    max-height: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    transition: transform 0.4s ease;
  }

  .overlayBackground.open .overlay {
    transform: translate(-50%, -50%);
  }

  .overlayGreyLogo {
    display: none;
  }

  h1 {
    font-size: 47px;
  }

  .overlayGreyContentText {
    font-size: 20px;
  }

  .overlayWhite {
    width: 100%;
    height: 60%;
    justify-content: center;
    align-content: center;
    padding: 0;
  }

  .bottonWhite {
    display: none;
  }

  .overlayWhiteInput input {
    width: 320px;
    height: 13px;
  }

  .overlayWhiteInput {
    width: auto;
    height: 245px;
  }

  .overlayGrey {
    width: calc(100% - 24px);
    padding: 0;
    padding-left: 24px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    height: 40%;
  }
  .overlayWhiteButtons {
    justify-content: center;
    width: 100%;
  }

  .overlayWhitePicture {
    left: calc(50% - 60px);
    top: calc(40% - 60px);
  }

  #addContactName,
  #addContactMail,
  #addContactPhone {
    background-position: 320px;
  }

  .overlayClose {
    display: none;
  }

  .overlayCloseMobile {
    display: block;
    position: absolute;
    right: 10px;
    top: 24px;
    cursor: pointer;
  }

  .contactDetails {
    padding: 0;
    padding-top: 176px;
    padding-left: 300px;
    font-size: 20px;
    max-width: none;
    width: auto;
  }

  .contactsSubtitle {
    font-size: 20px;
  }

  .contactHeader {
    flex-direction: column;
    align-items: baseline;
    height: 104px;
    width: min-content;
  }

  .blueLine {
    display: none;
  }

  .blueLineMobile {
    background-color: #29abe2;
    height: 3px;
    width: 90px;
    display: block;
  }

  .circleDetails {
    height: 80px;
    width: 80px;
    font-size: 27px;
    margin-right: 20px;
  }

  .contactSelectedIcons {
    display: none;
  }

  .contactsSelectedNameIcons {
    font-size: 36px;
    height: auto;
  }

  .contactSelectedMain {
    height: 80px;
  }

  .contactSelected {
    padding-top: 48px;
    height: 274px;
    transition: none;
  }

  .contactSelectedInfos {
    font-size: 16px;
  }

  .vectorMobile {
    display: block;
    position: absolute;
    right: 20px;
    top: 136px;
    cursor: pointer;
  }

  .contactsList {
    z-index: 9000;
  }

  .contactEntrySelected {
    background: white;
    color: black;
    border-radius: 0;
  }

  .buttonMore {
    display: block;
    border-radius: 56px;
    position: absolute;
    right: 20px;
    top: calc(100vh - 80px);
  }

  .mobileEditDelete {
    width: 116px;
    height: 100px;
    border-radius: 20px 20px 0 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 10px 10px 18px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 10px;
    bottom: 20px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    z-index: 1000;
  }

  .mobileEditDelete.show {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }

  .contactSelectedIconMobil {
    height: 40px;
    padding: 8px;
    gap: 8px;
    font-size: 16px;
  }

  #editMobile {
    background: url(../assets/icons/edit.svg) no-repeat center left;
    width: 64px;
  }

  #editMobile:hover {
    background: url(../assets/icons/edit_hover.svg) no-repeat center left;
  }

  #deleteMobile {
    background: url(../assets/icons/delete.svg) no-repeat center left;
    width: 84px;
  }

  #deleteMobile:hover {
    background: url(../assets/icons/delete_hover.svg) no-repeat center left;
  }
  .overlayGreyContentMobile {
    height: 80px;
  }

  .circlePosition {
    left: calc(50% - 60px);
    top: calc(40% - 60px);
    height: 120px;
    width: 120px;
    font-size: 47px;
  }

  .overlayWhiteButtonsEdit {
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

  #editContactName,
  #editContactMail,
  #editContactPhone {
    background-position: 320px;
  }

  .errorTextNameAlignment {
    top: 434px;
  }

  .errorTextMailAlignment {
    top: 489px;
  }

  .errorTextPhoneAlignment {
    top: 549px;
  }
}

@media (max-width: 840px) {
  .contactsList {
    top: 80px;
    height: calc(100vh - 80px - 80px);
    padding: 0;
    left: 0;
  }

  .contactsLetterSeparatorLine {
    width: 100%;
  }

  .contacts,
  .contactsAddButtonContainer {
    width: calc(100% - 20px - 20px);
  }

  .contactsAddButtonAlignment {
    top: calc(100vh - 80px - 80px - 80px);
    right: 30px;
  }

  .contactDetails {
    padding-left: 20px;
  }

  .buttonMore {
    top: calc(100vh - 80px - 80px);
  }

  .mobileEditDelete {
    bottom: 100px;
  }
}

@media (max-width: 440px) {
  .contactsLetterSeparator {
    width: calc(100% - 15px);
    padding-left: 15px;
  }

  .contactsLetterSeparatorLine {
    width: 100%;
  }

  .contactEntry {
    width: 100%;
  }

  .circleGap {
    margin: 0 15px 0 15px;
  }

  .circle {
    flex-shrink: 0;
  }

  .overlay,
  .overlayWhite,
  .overlayGreyContent,
  .overlayWhiteInput {
    width: 100%;
  }

  .overlayWhiteInput input {
    width: calc(100% - 21px - 21px - 20px);
    margin: 0 10px;
  }

  #addContactName,
  #addContactMail,
  #addContactPhone {
    background-position: 95%;
  }

  #editContactName,
  #editContactMail,
  #editContactPhone {
    background-position: 95%;
  }

  
  .errorTextNameAlignment,
  .errorTextMailAlignment,
  .errorTextPhoneAlignment {
    left: 10px;
  }
}

@media (max-height: 700px) {
  .overlay {
    height: 100%;
  }
}
