.content {
  display: flex;
  flex-direction: column;
  max-width: 977.5px;
  padding: 206px 80px 64px 328px;
}

.content > h1 {
  padding-bottom: 35px;
}

.content h2,
.content h3,
.content h4 {
  margin-top: 16px;
  margin-bottom: 0;
}

strong {
  color: #29abe2;
  font-weight: 400;
}

ul {
  padding-left: 20px;
}

ol {
  font: 700 27px inherit;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ol li {
  padding-left: 35px;
}

ol li p {
  font: 400 16px inherit;
}

@media (max-width: 840px) {
  h1 {
    font-size: 47px;
  }

  .content {
    padding: 128px 16px 130px 16px;
  }
}
