.splash {
  position: fixed;
  inset: 0;
  background-color: white;
  z-index: 9998;
  animation: fadeOut 2s ease forwards;
  animation-delay: 1s;
}

.joinIcon img {
  margin-top: -120px;
  z-index: 9999;
  position: absolute;
  animation: moveLogo 2.5s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes moveLogo {
  0% {
    width: 200px;
    height: 240px;
    top: calc(50% + 200px);
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    top: 0;
    left: 0;
    transform: translate(0, 0) scale(1);
  }
}

.sectionAlignment {
  justify-content: right;
}

.signUp_button {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 80px;
}

.signUp_button button {
  font-size: 16px;
}

.signUp_button p {
  font-size: 20px;
}

.formIndex {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 14px 3px #0000000a;
  padding-block: 50px;
  padding-inline: 110px;
  border-radius: 30px;
  gap: 35px;
}

#emailLogIn {
  background-image: url("../assets/icons/mail.svg");
}

#passwordLogIn {
  background-image: url("../assets/icons/lock.svg");
}

.logBtn {
  display: flex;
  gap: 35px;
}

#logInBtn {
  font-size: 21px;
}

#guestBtn {
  border: 1px solid #2a3647;
  background-color: white;
  color: #2a3647;
  font-size: 21px;
}

#guestBtn:hover {
  border: 1px solid #2aabe2;
  color: #2aabe2;
}

.errorTextLogIn {
  color: #ff8190;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  width: 422px;
  text-align: left;
  position: absolute;
  top: 409px;
  font-family: "Poppins", sans-serif;
}

.password {
  background-image: unset !important;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url("../assets/icons/visibility_off.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
