.content {
    display: flex;
    flex-direction: column;
    padding-left: 328px;
    padding-right: calc(328px - 232px);
    padding-top: 206px;
}

.content>h1 {
    padding-bottom: 35px;
}

.content>div>h2 {
    padding-block: 16px;
}

.content>div>h3 {
    padding-top: 16px;
}

.content>div>h4 {
    padding-top: 16px;
}


ul {
    padding-left: 20px;
}

strong{
    color: #29ABE2;
    font-weight: 400;
}