/** SUMMARY **/

.summary {
  display: flex;
  flex-direction: column;
  margin-left: 245px;
  margin-top: 100px;
}

.summary-left {
  display: flex;
  flex-direction: column;
  left: 328px;
  gap: 29px;
}

.summary-left_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 96px;
}

.summary-left_header_span_left {
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
}

.summary-divider {
  height: 59px;
  background-color: #29abe2;
  width: 3px;
  margin: 45px;
}

.summary-left_header_span_right {
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
}

.summary-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 96px;
  gap: 29px;
}

.summary-left_todo-done {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.summary-left_todo {
  display: flex;
  flex-direction: row;
  width: 264px;
  height: 168px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.summary-left_done {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 264px;
  height: 168px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.summary-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 69px;
  width: 69px;
  background-color: rgb(41, 54, 71);
  border-radius: 50%;
}

.todo-done-img-left {
  height: 24.33px;
  width: 24.37px;
}

.todo-done-img-right {
  height: 22.13px;
  width: 29.94px;
}

.summary-left_todo-done_counter {
  display: flex;
  flex-direction: column;
  align-items: ;
}

.todo-done_counter_top {
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
}

.todo-done_counter_bottom {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.summary-left_urgency {
  display: flex;
  flex-direction: row;
  height: 168px;
  width: 560px;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  align-items: center;
  justify-content: space-evenly;
}

.urgency_left {
  display: flex;
  align-items: center;
}

.urgency_left img {
  height: 60px;
  width: 60px;
  background-color: white;
}

.urgency_left_counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.urgency_left_counter_top {
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
}

.urgency_left_counter_bottom {
}

.urgency_mid {
  height: 102.02px;
  background-color: #d1d1d1;
  width: 2px;
}

.urgency_right {
  display: flex;
  flex-direction: column;
}

.urgency_right_top {
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
}

.urgency_right_bottom {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.summary-left_status {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.summary-left_status-child {
  display: flex;
  flex-direction: column;
  height: 168px;
  width: 168px;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.status-child_top {
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
}

.status-child_bottom {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  display: inline-block;
  text-align: center;
}

.summary-right {
display: flex;
flex-direction: column;
}

.summary-right_greeting-top {
font-weight: 500;
font-size: 47px;
line-height: 120%;
}

.summary-right_greeting-bottom {
font-weight: 700;
font-size: 64px;
line-height: 120%;
color: #29ABE2;
}
