.splash {
    position: fixed;
    inset: 0;
    background-color: white;
    z-index: 9998;
    animation: fadeOut 2s ease forwards;
    animation-delay: 1s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

button {
    border: 0;
    cursor: pointer;
    background-color: #2A3647;
    border-radius: 8px;
    padding-inline: 25px;
    padding-block: 15px;
    font-weight: 700;
    color: white;
}

button:hover {
    transition: 0.2s;
    box-shadow: 0px 6px 8px rgb(0 0 0 / 20%);
    background-color: #2aabe2;
}

a:hover {
    font-weight: 700;
    transition: 0.2s;
    color: #2aabe2;
}

header {
    max-width: 1920px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: right;
}

header img {
    z-index: 9999;
    position: absolute;
    width: 100px;
    height: 120px;
    padding-top: 80px;
    padding-left: 80px;
    animation: moveLogo 3s ease-in-out forwards;
}

@keyframes moveLogo {
    0% {
        width: 200px;
        height: 240px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        width: 100px;
        height: 120px;
        top: 0;
        left: 0;
        transform: translate(0, 0) scale(1);
    }
}

.signUp_button {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 80px;
}

.signUp_button button {
    font-size: 16px;
}

.signUp_button p {
    font-size: 20px;
}

main {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px #0000000A;
    padding-block: 50px;
    padding-inline: 110px;
    border-radius: 30px;
    gap: 30px
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px
}

h1 {
    font-size: 61px;
}

.line {
    background-color: #2aabe2;
    width: 150px;
    height: 3px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input input {
    padding-inline: 20px;
    padding-block: 10px;
    width: 400px;
    height: 40px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: 380px;
    font-size: 20px;
    font-weight: 200;
    background-size: 30px;
}

::placeholder {
    color: #D1D1D1;
}

#email {
    background-image: url('./assets/icons/mail.svg');
}

#password {
    background-image: url('./assets/icons/lock.svg');
}

.logBtn {
    display: flex;
    gap: 35px;
}

#logInBtn {
    font-size: 21px;
}

#guestBtn {
    border: 1px solid #2A3647;
    background-color: white;
    color: #2A3647;
    font-size: 21px;
}

#guestBtn:hover {
    border: 1px solid #2aabe2;
    color: #2aabe2;
}

footer {
    display: flex;
    justify-content: center;
    gap: 35px;
    position: absolute;
    width: 100%;
    bottom: 30px;
}

footer a {
    color: #A8A8A8;
}