@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f5f7f9;
}

.d_none {
  display: none !important;
}

h1 {
  font-size: 61px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 20px;
}

button {
  border: 0;
  cursor: pointer;
  background-color: #2a3647;
  border-radius: 8px;
  padding-inline: 25px;
  padding-block: 15px;
  font-weight: 700;
  color: white;
}

button:hover {
  transition: 0.2s;
  box-shadow: 0px 6px 8px rgb(0 0 0 / 20%);
  background-color: #2aabe2;
}

a:hover {
  font-weight: 700;
  transition: 0.2s;
  color: #2aabe2;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

input {
  padding-inline: 20px;
  padding-block: 10px;
  width: 422px;
  height: 28px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 420px;
  font-size: 20px;
  font-weight: 200;
  background-size: 30px;
  position: relative;
}

input:focus {
  outline: none;
  border: 1px solid #29abe2;
}

input:-webkit-autofill {
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s;
}

.inputError {
  border: 1px solid #ff8190 !important;
}

.errorText {
  color: #ff8190;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  width: 422px;
  text-align: left;
  position: absolute;
  font-family: "Poppins", sans-serif;
}

::placeholder {
  color: #d1d1d1;
}







